/*BACKGROUND IMAGE VICIOUS CYCLES CSS STYLING -- WAITING ON REPLY TO OK USE OVER GRADIENT BACKGROUND*/
/*Background gradient CSS styling saved as gradientstyle if need to revert back to older code styling*/


/*smartphone/small tablet styling*/
@media only screen and (max-width: 749px) and (min-width: 250px) {
    /*scale header logo image for small smartphone screen size*/
    header img {
        width: 100%;
        text-align: center;
        padding-bottom: .5em;
        padding-top: .5em;
    }

    /*mobile phone nav styling*/
    nav {
        text-align: center;
    }

    nav ul {
        padding: 0;
        margin-top: .5em;
        margin-bottom: .5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }

    nav li {
        background-color: #545454;
        border: 2px solid #545454;
        margin: .2em;
        padding: .2em;
        list-style-type: none;
        border-radius: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
        display: inline-block;
        width: 100%;
    }

    .selected {
        background-color: #A3620A;
    }


    /*main styling*/

    body {
        width: 90%;
        margin: 0 auto;
        /*background: linear-gradient(323deg, rgba(189,189,189,1) 23%, rgba(175,131,71,1) 100%);*/

        background-image: url(images/cyclist_background2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: white;
    }
    
    main {
        background-color: #dbdbdb;
        padding: 2em;
        overflow: auto;
        opacity: .95;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    main li {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        padding: .5em
        
    }

    th {
        background-color: #A3620A;
        color: white;
    }

    td {
        text-align: center;
        background-color: #545454;
        color: white;
    }


    /*footer styling*/
    footer {
        background-color: #545454;
        color: white;
        margin: 5px 0px;
        padding: 2px 1px;
        clear: both;
        overflow: auto;
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer h3 {
        margin-right: 1em;
    }

    footer img {
        margin-right: 1em;
    }

    /*hide home page images in mobile view*/
    .indeximgs {
        display: none;
    }

    /*class styling*/
    .bulletin {
        clear: both;
        margin: 1.5em auto;
        font-size: 1.1em;
        border: 2px solid black;
        border-radius: 12px;
        padding: 1.5em;
    }

    .bulletinleft {
        border-bottom: 2px solid black;
        border-radius: 12px;
        padding-bottom: 2em;
    }

    .bulletinright {
        border-bottom: 2px solid black;
        border-radius: 12px;
        padding-bottom: 2em;
    }

    .imagecontainer {
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    .imagecontainer img {
        padding: .5em;
        width: 40%;
    }

    /*Sign-Up form styling*/
    input, select, textarea, .return {
        font-family: inherit;
        font-size: 100%;
        display: block;
        margin: .5em;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        
    }

    label {
        font-weight: bold;
    }

    fieldset {
        margin: 1em;
        border-width: 0;
        padding: 0;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        width: 45%;
    }

    input[type="submit"] {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    input[type="submit"]:focus {
        background-color: #A3620A;
    }

    input[type="submit"]:hover {
        background-color: #A3620A;
    }

    .return {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    .return {
        text-decoration: none;
    }

    .return:focus {
        background-color: #A3620A;
    }

    .return:hover {
        background-color: #A3620A;
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
    }

}

/*tablet/small screen styling*/
@media only screen and (max-width: 1149px) and (min-width: 750px) {
    /*Body Content styling*/
    body {
        width: 80%;
        margin: 0 auto;
        background-image: url(images/cyclist_background2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: white;
    }
    
    header {
        text-align: center;
        padding-bottom: .5em;
        padding-top: .5em;
    }
    
    /*navigation styling*/
    nav {
        margin: 5px 0px;
        padding: 2px 1px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #545454;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:600;
        font-size: 1.1em;
        
    }

    
    nav li {
        float: left;
        
    }

    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 15%;
        border-right: 2px solid white;
        
    }
    
    li a:hover {
        background-color: #A3620A;
    }
    
    .selected {
        background-color: #A3620A;
    }

    /*main styling*/
    main {
        background-color: #dbdbdb;
        padding: 10px;
        overflow: auto;
        opacity: .95;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    main li {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        padding: .5em
        
    }

    th {
        background-color: #A3620A;
        color: white;
    }

    td {
        text-align: center;
        background-color: #545454;
        color: white;
    }

    /*footer styling*/
    footer {
        background-color: #545454;
        color: white;
        margin: 5px 0px;
        padding: 2px 1px;
        clear: both;
        overflow: auto;
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer h3 {
        margin-right: 1em;
    }

    footer img {
        margin-right: 1em;
    }

/*class styling to improve appearance in tablet dispay*/

    /*hide snow image in tablet display*/
    .snowimg {
        display: none;
    }

    /*center 2 images on home page in tablet view*/
    .indeximgs {
        text-align: center;
        display: none;
    }

    /*center 2 images on bicycle page in tablet view*/
    .newbike {
        text-align: center;
    }

    .usedbike {
        text-align: center;
    }

    .parts {
        text-align: center;
    }

    .accessories {
        text-align: center;
    }

    .bulletinleft {
        border: 2px solid black;
        border-radius: 12px;
        padding: 1.5em;
        margin: 1.5em auto;
    }

    .bulletinright {
        border: 2px solid black;
        border-radius: 12px;
        padding: 1.5em;
        margin: 1.5em auto;
        margin-bottom: 2em;
    }

    .bulletin {
        margin: 1.5em auto;
        font-size: 1.1em;
        border: 2px solid black;
        border-radius: 12px;
        padding: 1.5em;
    }

    .imagecontainer {
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    .imagecontainer img {
        padding: .5em;
        width: 40%;
    }

    /*Sign-Up form styling*/
    input, select, textarea, .return {
        font-family: inherit;
        font-size: 100%;
        display: block;
        margin: .5em;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        
    }

    label {
        font-weight: bold;
    }

    fieldset {
        margin: 1em;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        width: 45%;
    }

    input[type="submit"] {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    input[type="submit"]:focus {
        background-color: #A3620A;
    }

    input[type="submit"]:hover {
        background-color: #A3620A;
    }

    .return {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    .return {
        text-decoration: none;
    }

    .return:focus {
        background-color: #A3620A;
    }

    .return:hover {
        background-color: #A3620A;
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
    }
    
}

/*desktop screen styling*/
@media only screen and (min-width: 1150px) {
    /*Body Content styling*/
    body {
        width: 80%;
        margin: 0 auto;
        /*background: linear-gradient(323deg, rgba(189,189,189,1) 23%, rgb(180, 140, 85) 100%);*/
        
        /*playing around with responsive background image -- uncomment background abouve to restore*/
        background-image: url(images/cyclist_background2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: white;
        


    }

    header {
        text-align: center;
        padding-bottom: .5em;
        padding-top: .5em;
    }

    /*navigation styling*/
    nav {
        margin: 5px 0px;
        padding: 2px 1px;
        
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #545454;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:600;
        font-size: 1.1em;
    }

    nav li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 15%;
        border-right: 2px solid white;
    }

    li a:hover {
        background-color: #A3620A;
    }

    .selected {
        background-color: #A3620A;
    }

    /*main styling*/
    main {
        background-color: #dbdbdb;
        padding: 10px;
        overflow: auto;
        opacity: .95;
    }
    
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    main li {
        font-family: Arial, Helvetica, sans-serif;
    }

    .newbike h2 {
        text-align: center;
    }

    .usedbike h2 {
        text-align: center;
    }

    .parts h2 {
        text-align: center;
    }

    .accessories h2 {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        padding: .5em
        
    }

    th {
        background-color: #A3620A;
        color: white;
    }

    td {
        text-align: center;
        background-color: #545454;
        color: white;
    }


    /*footer styling*/
    footer {
        background-color: #545454;
        color: white;
        margin: 5px 0px;
        padding: 2px 1px;
        clear: both;
        overflow: auto;
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    footer h3 {
        margin-right: 1em;
    }

    footer img {
        margin-right: 1em;
    }

    /*class styling*/
        /*homepage desktop image styling and alignment*/
    .bulletinleft {
        width: 42%;
        float: left;
        border-left: 2px solid black;
        border-radius: 5%;
        padding: 1.5em;
        margin: .5em;
        background-color: #dbdbdb; /*comment out w/ no background img*/
    }

    .bulletinright {
        width: 42%;
        float: right;
        border-left: 2px solid black;
        border-radius: 5%;
        padding: 1.5em;
        margin: .5em;
        margin-bottom: 2em;
        background-color: #dbdbdb; /*comment out w/ no background img*/
    }

    .bulletin {
        width: 92%;
        margin: 1.5em auto;
        font-size: 1.1em;
        border: 2px solid black;
        border-radius: 12px;
        padding: 1.5em;
        background-color: #dbdbdb; /*comment out w/ no background img*/
    
    }

    .imagecontainer {
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    .imagecontainer img {
        padding: .5em;
        width: 40%;
    }

    .indeximgs {
        clear: both;
        text-align: center;
        display: none;
    }



    .sunsetimg {
        margin-left: 1.5em;
        float: left;
        margin-bottom: 1.5em;
        width: 30%;
    }

    .cyclingimg {
        margin: 0 auto;
        margin-bottom: 1.5em;
        width: 30%;
    }

    .snowimg {
        margin-right: 1.5em;
        float: right;
        margin-bottom: 1.5em;
        width: 30%;
    }


    /*bicycles page image styling and alignment*/
    .newbike {
        float: left;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
    }

    .usedbike {
        float: right;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    /*parts page image styling and alignment*/
    .parts {
        float: left;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
    }

    .accessories {
        float: right;
        margin-right: 1.5em;
        margin-bottom: 1.5em;
    }

    /*Sign-Up form styling*/
    input, select, textarea, .return {
        font-family: inherit;
        font-size: 100%;
        display: block;
        margin: .5em;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        
    }

    label {
        font-weight: bold;
    }

    fieldset {
        margin: 1em;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
        width: 45%;
    }

    input[type="submit"] {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    input[type="submit"]:focus {
        background-color: #A3620A;
    }

    input[type="submit"]:hover {
        background-color: #A3620A;
    }

    .return {
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid black;
        padding: .35em;
        cursor: pointer;
        background-color: #545454;
        color: white;
        float: left;
    }

    .return {
        text-decoration: none;
    }

    .return:focus {
        background-color: #A3620A;
    }

    .return:hover {
        background-color: #A3620A;
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
    }

}